{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/responder_orcamento.css' %}" />
    <title>Orça Peças - Pedir Orçamento</title>
  </head>
  <body>
    <header>
      <img src="{% static 'images/logoOrcaPecas.PNG' %}" alt="Logo" />
      <span class="user-name">{{ user }}</span>
    </header>
    <main>
      <div class="container">
      <div class="page-title-container">
        <h1 class="page-title">Orçamento Finalizado</h1>
        <div class="breadcrumb">
          <a href="{% url 'finalizados' %}">Orçamentos Finalizados</a> > <span>Orçamento Finalizado</span>
        </div>
      </div>
      <form id="orcamento-form" method="POST" action="{% url 'status_orcamento' detalhe.id %}">
        {% csrf_token %}
        <div class="form-container">
          <h2>Pedido</h2>
          <div class="form-section">
            <label for="cliente">Cliente</label>
            <span>{{detalhe.nome}}</span>
            <label for="modelo">Modelo do Carro</label>
            <span>{{detalhe.modelo}}</span>
            <label for="placa">Placa</label>
            <span>{{detalhe.placa}}</span>
          </div>
          <div class="form-section oficina">
            <label for="oficina">Oficina de Entrega</label>
            <span>{{detalhe.oficina_entrega_nome}}</span>
            <label for="endereco">Endereço da Oficina</label>
            <span>{{detalhe.oficina_entrega_endereco}}</span>
          </div>
          <div class="form-section">
            <label for="sinistro">Sinistro</label>
            <span>{{detalhe.comentarios_cliente}}</span>
          </div>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Peça</th>
                <th>Quantidade</th>
              </tr>
            </thead>
            <tbody id="itemsBody">
                <td>
                    {% for item in detalhe.itens_orcamento %}
                        {{item.peca}}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for item in detalhe.itens_orcamento %}
                        {{item.quantidade}}<br>
                    {% endfor %}
                </td>
            </tbody>
          </table>
        </div>
        <div class="form-section">
            <label for="resposta">Resposta</label>
            <span>{{detalhe.comentarios_fornecedor}}</span>
        </div>
        <div class="form-section oficina">
            <label for="prazo_entrega">Prazo de Entrega</label>
            <span>{{detalhe.prazo_entrega}}</span>
            <label for="valor_total">Valor Total</label>
            <span>{{detalhe.valor_total}}</span>
        </div>
        <div class="buttons">
            <a href="{% url 'finalizados' %}"><button
                type="button"
                class="btn-back"
                
              >Voltar</button></a>
        </div>
      </form>
    </div>
    </main>
  </body>
</html>