{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orça Peças</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <img src="{% static 'images/logoOrcaPecas.PNG' %}" alt="Logo" />
      <div class="nav-right">
        <span class="user-name">{{ user }}</span>
        <a class="logout-button" href="{% url 'logout' %}">Sair</a>
      </div>
    </header>
    <main>
      <div class="img-container">
        <img src="{% static 'images/logoOrcaPecas.PNG' %}" alt="Logo" />
      </div>
      <div class="nav-container">
        <a class="nav-link" href="{% url 'solicitar-orcamento' %}"
          >Pedir Orçamentos</a
        >
        <a class="nav-link" href="{% url 'orcados' %}">Orçados</a>
        <span class="desabilitado" >Devoluções</span>
        <a class="nav-link" href="{% url 'finalizados' %}">Finalizados</a>
      </div>
    </main>
  </body>
</html>
