{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_orcamento.css' %}" />
    <title>Detalhes do Orçamento</title>
</head>
<body>
  <header>
    <img src="{% static 'images/logoOrcaPecas.PNG' %}" alt="Logo" />
    <span class="user-name">{{ user }}</span>
  </header>
  <div class="container">
    <h1>Pedidos Aguardando Orçamento</h1>
    <div class="breadcrumb">Início > Pedidos Aguardando Orçamento</div>
    <div class="table-container">
    <table>

        {% if orcamentos %}
        <thead>
          <th>Cliente</th>
          <th>Modelo</th>
          <th>Sinistro</th>
          <th>Oficina</th>
          <th>Endereço</th>
          <th>Peça</th>
          <th>Quantidade</th>
        </thead>
        {% else %}
          <h1>Nenhum orçamento Cadastrado.</h1>
        {% endif %}


        <tbody>
            {% for orcamento in orcamentos %}
          <tr>
            <td>
                {{orcamento.nome}}
            </td>
            <td>{{orcamento.modelo}}</td>
            <td>{{orcamento.comentarios_cliente}}</td>
            <td>{{orcamento.oficina_entrega_nome}}</td>
            <td>{{orcamento.oficina_entrega_endereco}}</td>

             <td>
                    {% for item in orcamento.itens_orcamento %}
                        {{item.peca}}<br>
                    {% endfor %}
                </td>
             <td>
                    {% for item in orcamento.itens_orcamento %}
                        {{item.quantidade}}<br>
                    {% endfor %}
                </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pagination">
        <span>&lt;&lt;</span>
        <input type="text" value="1">
        <span>de</span>
        <span>1</span>
        <span>&gt;&gt;</span>
    </div>
    <button
            type="button"
            class="btn-back"
            onclick="history.back(); return false;"
          >Voltar</button>
  </div>    
</body>
</html>