*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 20px 50px;
}

table{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

main > a{
    padding: 6px 2%;
    background-color: rgba(19, 10, 192, 0.694);
    border-radius: 12px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

th{
    background-color: rgba(19, 10, 192, 0.694);
    padding: 10px;
    color: white;
}

td{
    padding: 10px;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.251);
}
tbody > tr:hover{
    background-color: rgba(128, 128, 128, 0.524);
    cursor: pointer;
}
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  