* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #add8e6;
  padding: 10px;
}

header img {
  max-height: 80px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.user-name {
  color: #004080;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.img-container img {
  max-height: 200px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.nav-container {
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #0074d9;
}

.nav-link {
  display: inline-block;
  margin: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.devolucao-cliente {
  display: inline-block;
  margin: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a4a8ac;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.devolucao-fornecedor {
  display: inline-block;
  margin: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a4a8ac;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.orcados-fornecedor {
  display: inline-block;
  margin: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a4a8ac;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
