{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_senha.css' %}" />
    <title>Orca Peças</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logoOrcaPecas.PNG' %}" alt="Logo" />
        </div>
    </header>
        <form class="container" method="POST"> {% csrf_token %}
            <h2>Login</h2>
            <input class="input_user" type="text" name="username" placeholder="Usuário">
            <input class="input_password" type="password" name="password" placeholder="Senha">
            <a href="#" class="forgot-password">Esqueceu sua senha?</a>
            <button type="submit">Entrar</button>
        </form>
</body> 
</html>
